<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
    <h2 class="footer-heading">{{ site.title }}</h2>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <h3>Connect with me</h3>
        <ul class="social-media-list" style="float:right;">
          <li>
            <a href="https://www.facebook.com/akajut/">
              <i class="fa fa-facebook-official fa-1x"></i> Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/akajut">
              <i class="fa fa-linkedin-square fa-1x"></i> LinkedIn</a>
          </li>
          <li>
            <a href="http://codepen.io/akajut/">
              <i class="fa fa-codepen fa-1x"></i> CodePen</a>
          </li>
        </ul>
        <ul class="social-media-list">
          <li>
            <a href="https://www.flickr.com/photos/akajut/">
              <i class="fa fa-flickr fa-1x"></i> Flickr</a>
          </li>
          <li>
            <a href="https://twitter.com/akajut/">
              <i class="fa fa-twitter fa-1x"></i> Twitter</a>
          </li>
          <li>
            <a href="https://github.com/akajut/">
              <i class="fa fa-github fa-1x"></i> Github</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
